body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: crimson;
    font-family: sans-serif;
    color: #fff;
}

.main{
    padding: 5px 0;
    text-align: center;
}

input{
    display: flex;
    flex-direction: column;
}

.inputs input{
    border: none;
    border-radius: 5px;
    padding: 1rem 10rem;
    outline: none;
    margin-bottom: 10px;
}

#selectOp{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

#btn{
    border: none;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}